<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Links</title>
    <link rel="shortcut icon" href="/" type="image/x-icon">
</head>
<body>
    <h1>All Links</h1>
    <a href="http://localhost:8000">Add Link</a>

    <% if(links){ %> 
        <% for(let i = 0; i < links.length; i++){ %> 
            <div id="<%= links[i].id %> ">
                <h3><%= links[i].title %></h3>
                <div><%= links[i].description %></div>
                <div><a href="<%= links[i].url %>"><%= links[i].url %></a></div>
                <button onclick="deleteLink('<%= links[i].id %>')">Delete</button>
            </div>
        <% } %> 
    <% } %> 

    <script>
        const deleteLink = (id) => {
            
            fetch('/' + id, {method: 'delete'}).then( res => {
                
                if(res.status == 200){
                    res.text().then( idLink => {
                        console.log(idLink)
                        const child = document.getElementById(idLink)
                        console.log(child)
                    })
                }
            })
        }
    </script>
</body>
</html>